/* 19.2 ratio to convert px to vw */
.site-footer-wrapper {
    background: linear-gradient(180deg, #8A481D 0%, #3A1E0C 100%);
}

.site-footer-block-title {
    font-family: Syne, sans-serif;
    font-size: 1.46vw;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.disclosure__toggle {
    background: transparent;
    color: #fff;
    text-align: center;
    font-family: Syne, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.disclosure__toggle:after {
    background-color: #fff;
}

.site-footer-item--information .navmenu .navmenu-item {
    font-family: Syne, sans-serif;
    font-size: 1.04vw;
    font-weight: 500;
    line-height: normal;
}

.site-footer-item--information .navmenu .navmenu-item:not(:last-child) {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.site-footer-item--information .navmenu .navmenu-item:not(:last-child):after {
    content: "•";
    color: #fff;
    margin: 0 1.77vw;
}

.site-footer-block-content-custom svg {
    width: 20px;
    margin-right: 20px;
    height: auto;
}

.site-footer-block-content-custom p {
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

@media screen and (max-width: 859px) {
    .site-footer-block-title {
        font-size: 16px;
    }

    .site-footer-item--information .navmenu .navmenu-item {
        font-size: 12px;
    }

    .site-footer-block-content-custom p {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .site-footer-blocks {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
    }

    .site-footer-blocks .site-footer-block-item {
        width: 100%;
    }

    .site-footer-block-item:nth-child(1) {
        grid-row: 1 / 4;
    }

    .site-footer-block-item:nth-child(2) {
        grid-row: 1 / 2;
    }

    .site-footer-block-item:nth-child(3) {
        grid-row: 2 / 3;
    }

    .site-footer-block-item:nth-child(4) {
        grid-row: 3 / 4;
    }

    .site-footer-block-item:nth-child(5) {
        grid-row: 1 / 4;
    }

    .site-footer-block-content {
        text-align: justify;
        font-size: 1.25vw;
        line-height: 135%;
        letter-spacing: -0.48px;
    }

    .site-footer__row {
        flex-direction: column-reverse;
    }

    .site-footer__row > :nth-child(1) {
        text-align: center;
    }

    .site-footer__row > :nth-child(2) {
        margin-left: auto;
        margin-right: auto;
    }

    .site-footer-item--information .navmenu .navmenu-item:not(:last-child):after {
        margin: 0 18px;
    }
}

@media screen and (min-width: 1800px) {
    .site-footer-block-title {
        font-size: 28px;
    }

    .site-footer-block-content {
        font-size: 24px;
    }

    .site-footer-item--information .navmenu .navmenu-item {
        font-size: 20px;
    }

    .site-footer-item--information .navmenu .navmenu-item:not(:last-child):after {
        margin: 0 34px;
    }

    .site-footer-block-content-custom p {
        font-size: 18px;
    }
}