/* 19.2 ratio to convert px to vw */
.page-title {
    font-size: 5vw;
    font-weight: 700;
}

.disclosure-list .disclosure-list__item {
    color: var(--disclosure-toggle-text-color);
}

.disclosure-list .disclosure-list__item:hover {
    color: var(--disclosure-toggle-text-color);
}

.form-field .error {
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.form-field [aria-invalid] {
    border-color: red;
}

.spr-content .spr-pagination a, .spr-content .spr-review .spr-review-footer a,
.spr-summary-caption a.spr-summary-actions-togglereviews, .product-recently-viewed__clear,
.shopify-payment-button .shopify-payment-button__more-options, .complementary-product__link,
.product-vendor a, .utils-sortby-button, .utils-filter-button, .productgrid--sidebar-menu .navmenu-link--active,
.productgrid-listview .productitem--link, .productgrid--footer-results-list a, .filter-item-clear-all,
.active-filters__clear-link, .collection-filters__filter-link[data-filter-active],
.filter-item--grid-simple .filter-item-clear-all, [data-filter-active=true], .filter-item a.filter-text--link,
.pagination--inner a, .search-flydown__continue, .search-flydown__list-item a, .live-search-takeover-cancel,
.collection__item-title, .breadcrumbs-container a, .article--excerpt-readmore, .account-page-content a,
.search-section__text a, .menulist-menu__show-more-trigger, .blogposts--footer-link, .subcollections__container a,
.subcollections-featured-collection__subcollection-cta, .subcollections-featured-collection__subcollection-menu-link,
.product-compare__placeholder-link, .product-compare__clear-all, .product-link, .passwordentry-contents a,
.password-page-footer--item a, .cart-continue, .cart-shipping .cart-shipping-toggle, .cart-update,
.article--pagination .article--pagination-item-left > a, .article--pagination .article--pagination-item-right > a,
.article--tags a, .rte a, .pxs-newsletter-text a, .shoppable-image__text-box-subheading a, .image-with-text__text a {
    font-weight: bold;
}

.spr-content .spr-pagination a:hover, .spr-content .spr-review .spr-review-footer a:hover,
.spr-summary-caption a.spr-summary-actions-togglereviews:hover, .product-recently-viewed__clear:hover,
.shopify-payment-button .shopify-payment-button__more-options:hover, .complementary-product__link:hover,
.product-vendor a:hover, .utils-sortby-button:hover, .utils-filter-button:hover,
.productgrid--sidebar-menu .navmenu-link--active:hover, .productgrid-listview .productitem--link:hover,
.productgrid--footer-results-list a:hover, .filter-item-clear-all:hover, .active-filters__clear-link:hover,
.collection-filters__filter-link[data-filter-active]:hover, [data-filter-active=true]:hover,
.filter-item a.filter-text--link:hover, .pagination--inner a:hover, .search-flydown__continue:hover,
.search-flydown__list-item a:hover, .live-search-takeover-cancel:hover, .collection__item-title:hover,
.breadcrumbs-container a:hover, .article--excerpt-readmore:hover, .account-page-content a:hover,
.search-section__text a:hover, .menulist-menu__show-more-trigger:hover, .blogposts--footer-link:hover,
.subcollections__container a:hover, .subcollections-featured-collection__subcollection-cta:hover,
.subcollections-featured-collection__subcollection-menu-link:hover, .product-compare__placeholder-link:hover,
.product-compare__clear-all:hover, .product-link:hover, .passwordentry-contents a:hover,
.password-page-footer--item a:hover, .cart-continue:hover, .cart-shipping .cart-shipping-toggle:hover,
.cart-update:hover, .article--pagination .article--pagination-item-left > a:hover,
.article--pagination .article--pagination-item-right > a:hover, .article--tags a:hover, .rte a:hover,
.pxs-newsletter-text a:hover, .shoppable-image__text-box-subheading a:hover, .image-with-text__text a:hover {
    color: #4d4d4d;
    text-decoration: underline;
}

.form-action--see-password {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    z-index: 1;
    padding: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.form-action--see-password svg {
    width: 20px;
    fill: #333;
}

.form-action--see-password .show svg {
    padding: 0 1px;
}

.form-action--see-password .show {
    display: block;
}

.form-action--see-password .hide {
    display: none;
}

.form-action--see-password.active .show {
    display: none;
}

.form-action--see-password.active .hide {
    display: block;
}

.site-footer-block-menu .navmenu-item.navmenu-id-account {
    margin-bottom: .3125rem;
}

.age-gate__confirm_btn,
.spr-summary-actions-newreview,
.shopify-payment-button .shopify-payment-button__button--unbranded,
.smart-payment-enabled .product-form--atc-button, .product-form--atc-button,
.utils-sortby--modal-button, .live-search-button, .back-to-top__button,
.article--excerpt-wrapper--featured .article--excerpt-button,
.order-page__atc-button, .shopify-challenge__container .btn, .pxs-image-with-text-button,
.slideshow-slide__button--secondary, .slideshow-slide__button--primary, .page__content button,
.image-with-text__button, .faq__categories-list-item-link, .countdown-timer__caption-button.countdown-timer__caption-button--secondary,
.countdown-timer__caption-button.countdown-timer__caption-button--primary, .button-secondary, .button-primary, .productgrid--no-results-button {
    color: #FFF;
    font-family: Syne;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    background: #8A481D;
    border: 1px solid #8A481D;
}

.button-primary:not(.disabled):hover {
    background: rgb(138 72 29 / 50%);
    border: 1px solid rgb(138 72 29 / 50%);
}

@media screen and (max-width: 859px) {
    .page-title {
        font-size: 48px;
    }
}

@media screen and (min-width: 860px) {
    .age-gate__confirm_btn,
    .spr-summary-actions-newreview,
    .shopify-payment-button .shopify-payment-button__button--unbranded,
    .smart-payment-enabled .product-form--atc-button, .product-form--atc-button,
    .utils-sortby--modal-button, .live-search-button, .back-to-top__button,
    .article--excerpt-wrapper--featured .article--excerpt-button,
    .order-page__atc-button, .shopify-challenge__container .btn, .pxs-image-with-text-button,
    .slideshow-slide__button--secondary, .slideshow-slide__button--primary, .page__content button,
    .image-with-text__button, .faq__categories-list-item-link, .countdown-timer__caption-button.countdown-timer__caption-button--secondary,
    .countdown-timer__caption-button.countdown-timer__caption-button--primary, .button-secondary, .button-primary, .productgrid--no-results-button {
        font-size: 16px;
        padding: 16px 36px;
    }
}

@media screen and (min-width: 1024px) {
    .site-header-main .live-search {
        margin-right: 0;
    }

    .site-footer-block-title[data-accordion-trigger] {
        display: none;
    }
}


@media screen and (min-width: 1800px) {
    .page-title {
        font-size: 96px;
    }
}